@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
}

/* BACKGROUND ANIMATE*/
.animateGradientX {
  animation: gradient-x 5s ease infinite;
  background-size: 400% 400%;
}
  
@keyframes gradient-x {
  0% {
      background-position: 0% 25%;
  }
  25% {
      background-position: 26% 50%;
  };
  50% {
      background-position: 51% 75%;
  }
  75% {
      background-position: 76% 100%;
  }
  100% {
      background-position: 0% 25%;
  }
}